//! **************************************************************************
// Written by: Map P.49d on Sat Mar 28 16:59:30 2015
//! **************************************************************************

SCHEMATIC START;
COMP "RD_FTDI" LOCATE = SITE "P33" LEVEL 1;
COMP "SPI_CLK" LOCATE = SITE "P70" LEVEL 1;
COMP "cs1" LOCATE = SITE "P112" LEVEL 1;
COMP "cs2" LOCATE = SITE "P101" LEVEL 1;
COMP "cs3" LOCATE = SITE "P95" LEVEL 1;
COMP "cs4" LOCATE = SITE "P87" LEVEL 1;
COMP "rxf" LOCATE = SITE "P34" LEVEL 1;
COMP "txe" LOCATE = SITE "P35" LEVEL 1;
COMP "WR_FTDI" LOCATE = SITE "P32" LEVEL 1;
COMP "MISO" LOCATE = SITE "P65" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P64" LEVEL 1;
COMP "adc1" LOCATE = SITE "P114" LEVEL 1;
COMP "adc2" LOCATE = SITE "P102" LEVEL 1;
COMP "adc3" LOCATE = SITE "P97" LEVEL 1;
COMP "adc4" LOCATE = SITE "P88" LEVEL 1;
COMP "saw1" LOCATE = SITE "P116" LEVEL 1;
COMP "saw2" LOCATE = SITE "P105" LEVEL 1;
COMP "saw3" LOCATE = SITE "P99" LEVEL 1;
COMP "saw4" LOCATE = SITE "P93" LEVEL 1;
COMP "adc_reset_0" LOCATE = SITE "P117" LEVEL 1;
COMP "adc_reset_1" LOCATE = SITE "P111" LEVEL 1;
COMP "adc_reset_2" LOCATE = SITE "P100" LEVEL 1;
COMP "adc_reset_3" LOCATE = SITE "P94" LEVEL 1;
COMP "clk_adc_3" LOCATE = SITE "P92" LEVEL 1;
COMP "CLK80" LOCATE = SITE "P51" LEVEL 1;
COMP "evt_1" LOCATE = SITE "P59" LEVEL 1;
COMP "evt_2" LOCATE = SITE "P66" LEVEL 1;
COMP "evt_3" LOCATE = SITE "P134" LEVEL 1;
COMP "evt_4" LOCATE = SITE "P123" LEVEL 1;
COMP "SPI_CS" LOCATE = SITE "P38" LEVEL 1;
COMP "TestA0" LOCATE = SITE "P6" LEVEL 1;
COMP "TestA1" LOCATE = SITE "P5" LEVEL 1;
COMP "TestB0" LOCATE = SITE "P15" LEVEL 1;
COMP "TestA2" LOCATE = SITE "P7" LEVEL 1;
COMP "TestB1" LOCATE = SITE "P16" LEVEL 1;
COMP "TestA3" LOCATE = SITE "P9" LEVEL 1;
COMP "TestB2" LOCATE = SITE "P17" LEVEL 1;
COMP "TestA4" LOCATE = SITE "P10" LEVEL 1;
COMP "TestB3" LOCATE = SITE "P22" LEVEL 1;
COMP "TestA5" LOCATE = SITE "P11" LEVEL 1;
COMP "TestB4" LOCATE = SITE "P23" LEVEL 1;
COMP "TestA6" LOCATE = SITE "P12" LEVEL 1;
COMP "TestB5" LOCATE = SITE "P26" LEVEL 1;
COMP "TestA7" LOCATE = SITE "P14" LEVEL 1;
COMP "TestB6" LOCATE = SITE "P27" LEVEL 1;
COMP "TestB7" LOCATE = SITE "P29" LEVEL 1;
COMP "CLK_ADC_0" LOCATE = SITE "P115" LEVEL 1;
COMP "CLK_ADC_1" LOCATE = SITE "P104" LEVEL 1;
COMP "CLK_ADC_2" LOCATE = SITE "P98" LEVEL 1;
COMP "FTDIbus<0>" LOCATE = SITE "P48" LEVEL 1;
COMP "FTDIbus<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "FTDIbus<2>" LOCATE = SITE "P46" LEVEL 1;
COMP "FTDIbus<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "FTDIbus<4>" LOCATE = SITE "P47" LEVEL 1;
COMP "FTDIbus<5>" LOCATE = SITE "P43" LEVEL 1;
COMP "FTDIbus<6>" LOCATE = SITE "P41" LEVEL 1;
COMP "FTDIbus<7>" LOCATE = SITE "P44" LEVEL 1;
PIN XLXI_103/XLXI_422/ram_1k_generate.s6.kcpsm6_rom_pins<28> = BEL
        "XLXI_103/XLXI_422/ram_1k_generate.s6.kcpsm6_rom" PINNAME CLKA;
PIN
        XLXI_94/first_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>
        = BEL
        "XLXI_94/first_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKA;
PIN
        XLXI_94/first_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>
        = BEL
        "XLXI_94/first_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKB;
PIN
        XLXI_94/option_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>
        = BEL
        "XLXI_94/option_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKA;
PIN
        XLXI_94/option_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>
        = BEL
        "XLXI_94/option_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKB;
PIN
        XLXI_94/second_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>
        = BEL
        "XLXI_94/second_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKA;
PIN
        XLXI_94/second_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>
        = BEL
        "XLXI_94/second_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKB;
PIN
        XLXI_94/third_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>
        = BEL
        "XLXI_94/third_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKA;
PIN
        XLXI_94/third_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>
        = BEL
        "XLXI_94/third_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram"
        PINNAME CLKB;
TIMEGRP CLK80 = BEL "XLXI_97/XLXI_97/XLXI_19" BEL "XLXI_97/XLXI_97/XLXI_18"
        BEL "XLXI_101/XLXI_97/XLXI_19" BEL "XLXI_101/XLXI_97/XLXI_18" BEL
        "XLXI_100/XLXI_97/XLXI_19" BEL "XLXI_100/XLXI_97/XLXI_18" BEL
        "XLXI_98/XLXI_97/XLXI_19" BEL "XLXI_98/XLXI_97/XLXI_18" BEL
        "XLXI_85/eventLow" BEL "XLXI_85/r_reg_0" BEL "XLXI_85/r_reg_1" BEL
        "XLXI_85/r_reg_2" BEL "XLXI_85/r_reg_3" BEL "XLXI_85/r_reg_4" BEL
        "XLXI_85/r_reg_5" BEL "XLXI_85/r_reg_6" BEL "XLXI_85/r_reg_7" BEL
        "XLXI_85/r_reg_8" BEL "XLXI_85/r_reg_9" BEL "XLXI_85/r_reg_10" BEL
        "XLXI_85/r_reg_11" BEL "XLXI_85/r_reg_12" BEL "XLXI_85/r_reg_13" BEL
        "XLXI_85/r_reg_14" BEL "XLXI_85/r_reg_15" BEL
        "XLXI_97/XLXI_85/counter_out_15" BEL "XLXI_97/XLXI_85/counter_out_14"
        BEL "XLXI_97/XLXI_85/counter_out_13" BEL
        "XLXI_97/XLXI_85/counter_out_12" BEL "XLXI_97/XLXI_85/counter_out_11"
        BEL "XLXI_97/XLXI_85/counter_out_10" BEL
        "XLXI_97/XLXI_85/counter_out_9" BEL "XLXI_97/XLXI_85/counter_out_8"
        BEL "XLXI_97/XLXI_85/counter_out_7" BEL
        "XLXI_97/XLXI_85/counter_out_6" BEL "XLXI_97/XLXI_85/counter_out_5"
        BEL "XLXI_97/XLXI_85/counter_out_4" BEL
        "XLXI_97/XLXI_85/counter_out_3" BEL "XLXI_97/XLXI_85/counter_out_2"
        BEL "XLXI_97/XLXI_85/counter_out_1" BEL
        "XLXI_97/XLXI_85/counter_out_0" BEL "XLXI_101/XLXI_85/counter_out_15"
        BEL "XLXI_101/XLXI_85/counter_out_14" BEL
        "XLXI_101/XLXI_85/counter_out_13" BEL
        "XLXI_101/XLXI_85/counter_out_12" BEL
        "XLXI_101/XLXI_85/counter_out_11" BEL
        "XLXI_101/XLXI_85/counter_out_10" BEL "XLXI_101/XLXI_85/counter_out_9"
        BEL "XLXI_101/XLXI_85/counter_out_8" BEL
        "XLXI_101/XLXI_85/counter_out_7" BEL "XLXI_101/XLXI_85/counter_out_6"
        BEL "XLXI_101/XLXI_85/counter_out_5" BEL
        "XLXI_101/XLXI_85/counter_out_4" BEL "XLXI_101/XLXI_85/counter_out_3"
        BEL "XLXI_101/XLXI_85/counter_out_2" BEL
        "XLXI_101/XLXI_85/counter_out_1" BEL "XLXI_101/XLXI_85/counter_out_0"
        BEL "XLXI_100/XLXI_85/counter_out_15" BEL
        "XLXI_100/XLXI_85/counter_out_14" BEL
        "XLXI_100/XLXI_85/counter_out_13" BEL
        "XLXI_100/XLXI_85/counter_out_12" BEL
        "XLXI_100/XLXI_85/counter_out_11" BEL
        "XLXI_100/XLXI_85/counter_out_10" BEL "XLXI_100/XLXI_85/counter_out_9"
        BEL "XLXI_100/XLXI_85/counter_out_8" BEL
        "XLXI_100/XLXI_85/counter_out_7" BEL "XLXI_100/XLXI_85/counter_out_6"
        BEL "XLXI_100/XLXI_85/counter_out_5" BEL
        "XLXI_100/XLXI_85/counter_out_4" BEL "XLXI_100/XLXI_85/counter_out_3"
        BEL "XLXI_100/XLXI_85/counter_out_2" BEL
        "XLXI_100/XLXI_85/counter_out_1" BEL "XLXI_100/XLXI_85/counter_out_0"
        BEL "XLXI_94/addra_reg_u_10" BEL "XLXI_94/addra_reg_u_9" BEL
        "XLXI_94/addra_reg_u_8" BEL "XLXI_94/addra_reg_u_7" BEL
        "XLXI_94/addra_reg_u_6" BEL "XLXI_94/addra_reg_u_5" BEL
        "XLXI_94/addra_reg_u_4" BEL "XLXI_94/addra_reg_u_3" BEL
        "XLXI_94/addra_reg_u_2" BEL "XLXI_94/addra_reg_u_1" BEL
        "XLXI_94/addra_reg_u_0" BEL "XLXI_94/doutb_ctrl_7" BEL
        "XLXI_94/doutb_ctrl_6" BEL "XLXI_94/doutb_ctrl_5" BEL
        "XLXI_94/doutb_ctrl_4" BEL "XLXI_94/doutb_ctrl_3" BEL
        "XLXI_94/doutb_ctrl_2" BEL "XLXI_94/doutb_ctrl_1" BEL
        "XLXI_94/doutb_ctrl_0" BEL "XLXI_94/web_3" BEL "XLXI_94/web_2" BEL
        "XLXI_94/web_1" BEL "XLXI_94/data_pack_31" BEL "XLXI_94/data_pack_30"
        BEL "XLXI_94/data_pack_29" BEL "XLXI_94/data_pack_28" BEL
        "XLXI_94/data_pack_27" BEL "XLXI_94/data_pack_26" BEL
        "XLXI_94/data_pack_25" BEL "XLXI_94/data_pack_24" BEL
        "XLXI_94/data_pack_23" BEL "XLXI_94/data_pack_22" BEL
        "XLXI_94/data_pack_21" BEL "XLXI_94/data_pack_20" BEL
        "XLXI_94/data_pack_19" BEL "XLXI_94/data_pack_18" BEL
        "XLXI_94/data_pack_17" BEL "XLXI_94/data_pack_16" BEL
        "XLXI_94/data_pack_15" BEL "XLXI_94/data_pack_14" BEL
        "XLXI_94/data_pack_13" BEL "XLXI_94/data_pack_12" BEL
        "XLXI_94/data_pack_11" BEL "XLXI_94/data_pack_10" BEL
        "XLXI_94/data_pack_9" BEL "XLXI_94/data_pack_8" BEL
        "XLXI_94/data_pack_7" BEL "XLXI_94/data_pack_6" BEL
        "XLXI_94/data_pack_5" BEL "XLXI_94/data_pack_4" BEL
        "XLXI_94/data_pack_3" BEL "XLXI_94/data_pack_2" BEL
        "XLXI_94/data_pack_1" BEL "XLXI_94/data_pack_0" BEL
        "XLXI_94/internal_rd_index_12" BEL "XLXI_94/internal_rd_index_11" BEL
        "XLXI_94/internal_rd_index_10" BEL "XLXI_94/internal_rd_index_9" BEL
        "XLXI_94/internal_rd_index_8" BEL "XLXI_94/internal_rd_index_7" BEL
        "XLXI_94/internal_rd_index_6" BEL "XLXI_94/internal_rd_index_5" BEL
        "XLXI_94/internal_rd_index_4" BEL "XLXI_94/internal_rd_index_3" BEL
        "XLXI_94/internal_rd_index_2" BEL "XLXI_260/XLXI_3/COUNT_0" BEL
        "XLXI_260/XLXI_3/COUNT_1" BEL "XLXI_260/XLXI_3/COUNT_2" BEL
        "XLXI_260/XLXI_3/COUNT_3" BEL "XLXI_260/XLXI_3/COUNT_4" BEL
        "XLXI_260/XLXI_2/COUNT_0" BEL "XLXI_260/XLXI_2/COUNT_1" BEL
        "XLXI_260/XLXI_2/COUNT_2" BEL "XLXI_260/XLXI_2/COUNT_3" BEL
        "XLXI_260/XLXI_2/COUNT_4" BEL "XLXI_260/XLXI_2/COUNT_5" BEL
        "XLXI_260/XLXI_2/COUNT_6" BEL "XLXI_260/XLXI_2/COUNT_7" BEL
        "XLXI_272/XLXI_93/Q_0" BEL "XLXI_272/XLXI_93/Q_1" BEL
        "XLXI_272/XLXI_93/Q_2" BEL "XLXI_272/XLXI_93/Q_7" BEL
        "XLXI_272/XLXI_27/Q_0" BEL "XLXI_272/XLXI_27/Q_1" BEL
        "XLXI_272/XLXI_27/Q_2" BEL "XLXI_272/XLXI_27/Q_3" BEL
        "XLXI_272/XLXI_27/Q_4" BEL "XLXI_272/XLXI_27/Q_5" BEL
        "XLXI_304/count_next_15" BEL "XLXI_304/count_next_14" BEL
        "XLXI_304/count_next_13" BEL "XLXI_304/count_next_12" BEL
        "XLXI_304/count_next_11" BEL "XLXI_304/count_next_10" BEL
        "XLXI_304/count_next_9" BEL "XLXI_304/count_next_8" BEL
        "XLXI_304/count_next_7" BEL "XLXI_304/count_next_6" BEL
        "XLXI_304/count_next_5" BEL "XLXI_304/count_next_4" BEL
        "XLXI_304/count_next_3" BEL "XLXI_304/count_next_2" BEL
        "XLXI_304/count_next_1" BEL "XLXI_304/count_next_0" BEL
        "XLXI_304/reset_out_of_bound_2" BEL "XLXI_304/reset_out_of_bound_1"
        BEL "XLXI_304/reset_out_of_bound_0" BEL "XLXI_304/ready_enable_2" BEL
        "XLXI_304/ready_enable_1" BEL "XLXI_304/ready_enable_0" BEL
        "XLXI_304/ready_2" BEL "XLXI_304/ready_1" BEL "XLXI_304/ready_0" BEL
        "XLXI_304/window_mode" BEL "XLXI_304/window_flag_int" BEL
        "XLXI_304/start_MSB_7" BEL "XLXI_304/start_MSB_6" BEL
        "XLXI_304/start_MSB_5" BEL "XLXI_304/start_MSB_4" BEL
        "XLXI_304/start_MSB_3" BEL "XLXI_304/start_MSB_2" BEL
        "XLXI_304/start_MSB_1" BEL "XLXI_304/start_MSB_0" BEL
        "XLXI_304/stop_LSB_7" BEL "XLXI_304/stop_LSB_6" BEL
        "XLXI_304/stop_LSB_5" BEL "XLXI_304/stop_LSB_4" BEL
        "XLXI_304/stop_LSB_3" BEL "XLXI_304/stop_LSB_2" BEL
        "XLXI_304/stop_LSB_1" BEL "XLXI_304/stop_LSB_0" BEL
        "XLXI_304/stop_MSB_7" BEL "XLXI_304/stop_MSB_6" BEL
        "XLXI_304/stop_MSB_5" BEL "XLXI_304/stop_MSB_4" BEL
        "XLXI_304/stop_MSB_3" BEL "XLXI_304/stop_MSB_2" BEL
        "XLXI_304/stop_MSB_1" BEL "XLXI_304/stop_MSB_0" BEL
        "XLXI_304/start_LSB_7" BEL "XLXI_304/start_LSB_6" BEL
        "XLXI_304/start_LSB_5" BEL "XLXI_304/start_LSB_4" BEL
        "XLXI_304/start_LSB_3" BEL "XLXI_304/start_LSB_2" BEL
        "XLXI_304/start_LSB_1" BEL "XLXI_304/start_LSB_0" BEL
        "XLXI_325/XLXI_321/XLXI_18" BEL "XLXI_325/XLXI_321/XLXI_1/q_tmp_0" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_1" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_2" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_3" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_4" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_5" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_6" BEL
        "XLXI_325/XLXI_321/XLXI_1/q_tmp_7" BEL
        "XLXI_325/XLXI_321/XLXI_15/COUNT_0" BEL
        "XLXI_325/XLXI_321/XLXI_15/COUNT_1" BEL
        "XLXI_325/XLXI_321/XLXI_15/COUNT_2" BEL
        "XLXI_325/XLXI_321/XLXI_15/COUNT_3" BEL "XLXI_103/XLXI_205/SRL16E" BEL
        "XLXI_103/XLXI_204" BEL "XLXI_103/XLXI_210/Q_0" BEL
        "XLXI_103/XLXI_210/Q_1" BEL "XLXI_103/XLXI_210/Q_2" BEL
        "XLXI_103/XLXI_210/Q_3" BEL "XLXI_103/XLXI_210/Q_4" BEL
        "XLXI_103/XLXI_210/Q_5" BEL "XLXI_103/XLXI_210/Q_6" BEL
        "XLXI_103/XLXI_210/Q_7" BEL
        "XLXI_103/XLXI_419/data_path_loop[7].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[7].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[7].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[6].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[6].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[6].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[5].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[5].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[5].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[4].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[4].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[4].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[3].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[3].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[3].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[2].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[2].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[2].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[1].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[1].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[1].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[0].small_spm.spm_flop" BEL
        "XLXI_103/XLXI_419/data_path_loop[0].low_hwbuild.shift_rotate_flop"
        BEL "XLXI_103/XLXI_419/data_path_loop[0].arith_logical_flop" BEL
        "XLXI_103/XLXI_419/stack_loop[4].upper_stack.pointer_flop" BEL
        "XLXI_103/XLXI_419/stack_loop[3].upper_stack.pointer_flop" BEL
        "XLXI_103/XLXI_419/stack_loop[2].upper_stack.pointer_flop" BEL
        "XLXI_103/XLXI_419/stack_loop[1].upper_stack.pointer_flop" BEL
        "XLXI_103/XLXI_419/stack_loop[0].lsb_stack.pointer_flop" BEL
        "XLXI_103/XLXI_419/stack_bit_flop" BEL
        "XLXI_103/XLXI_419/shadow_bank_flop" BEL
        "XLXI_103/XLXI_419/shadow_zero_flag_flop" BEL
        "XLXI_103/XLXI_419/stack_zero_flop" BEL
        "XLXI_103/XLXI_419/shadow_carry_flag_flop" BEL
        "XLXI_103/XLXI_419/address_loop[11].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[11].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[10].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[10].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[9].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[9].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[8].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[8].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[7].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[7].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[6].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[6].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[5].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[5].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[4].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[4].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[3].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[3].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[2].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[2].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[1].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[1].return_vector_flop" BEL
        "XLXI_103/XLXI_419/address_loop[0].pc_flop" BEL
        "XLXI_103/XLXI_419/address_loop[0].return_vector_flop" BEL
        "XLXI_103/XLXI_419/zero_flag_flop" BEL
        "XLXI_103/XLXI_419/use_zero_flag_flop" BEL
        "XLXI_103/XLXI_419/carry_flag_flop" BEL
        "XLXI_103/XLXI_419/shift_carry_flop" BEL
        "XLXI_103/XLXI_419/arith_carry_flop" BEL
        "XLXI_103/XLXI_419/sx_addr4_flop" BEL "XLXI_103/XLXI_419/bank_flop"
        BEL "XLXI_103/XLXI_419/read_strobe_flop" BEL
        "XLXI_103/XLXI_419/write_strobe_flop" BEL
        "XLXI_103/XLXI_419/spm_enable_flop" BEL
        "XLXI_103/XLXI_419/register_enable_flop" BEL
        "XLXI_103/XLXI_419/flag_enable_flop" BEL
        "XLXI_103/XLXI_419/alu_mux_sel1_flop" BEL
        "XLXI_103/XLXI_419/alu_mux_sel0_flop" BEL
        "XLXI_103/XLXI_419/active_interrupt_flop" BEL
        "XLXI_103/XLXI_419/interrupt_enable_flop" BEL
        "XLXI_103/XLXI_419/t_state2_flop" BEL
        "XLXI_103/XLXI_419/t_state1_flop" BEL
        "XLXI_103/XLXI_419/internal_reset_flop" BEL
        "XLXI_103/XLXI_419/run_flop" BEL
        "XLXI_103/XLXI_419/sync_interrupt_flop" BEL
        "XLXI_97/XLXI_85/attached_signal" BEL "XLXI_97/XLXI_85/int_sig1" BEL
        "XLXI_101/XLXI_85/attached_signal" BEL "XLXI_101/XLXI_85/int_sig1" BEL
        "XLXI_100/XLXI_85/attached_signal" BEL "XLXI_100/XLXI_85/int_sig1" BEL
        "XLXI_98/XLXI_85/attached_signal" BEL "XLXI_98/XLXI_85/int_sig1" BEL
        "XLXI_94/web_0" BEL "XLXI_94/memOverflowFlag" BEL "XLXI_304/window"
        BEL "XLXI_94/reset_bus_2" BEL "XLXI_94/reset_bus_0" BEL
        "XLXI_94/reset_bus_1" BEL "XLXI_85/r_reg_low_0" BEL
        "XLXI_85/r_reg_low_1" BEL "XLXI_85/r_reg_low_2" BEL
        "XLXI_85/r_reg_low_3" BEL "XLXI_85/r_reg_low_4" BEL
        "XLXI_94/state_reg_FSM_FFd2" BEL "XLXI_94/state_reg_FSM_FFd3" BEL
        "XLXI_94/state_reg_FSM_FFd1" BEL "XLXI_103/XLXI_219" BEL
        "CLK80_IBUF_BUFG" PIN
        "XLXI_103/XLXI_422/ram_1k_generate.s6.kcpsm6_rom_pins<28>" BEL
        "XLXI_94/Mshreg_dinb_ctrl_shifted_7" BEL "XLXI_94/dinb_ctrl_shifted_7"
        BEL "XLXI_94/Mshreg_dinb_ctrl_shifted_6" BEL
        "XLXI_94/dinb_ctrl_shifted_6" BEL "XLXI_94/Mshreg_dinb_ctrl_shifted_5"
        BEL "XLXI_94/dinb_ctrl_shifted_5" BEL
        "XLXI_94/Mshreg_dinb_ctrl_shifted_4" BEL "XLXI_94/dinb_ctrl_shifted_4"
        BEL "XLXI_94/Mshreg_dinb_ctrl_shifted_3" BEL
        "XLXI_94/dinb_ctrl_shifted_3" BEL "XLXI_94/Mshreg_dinb_ctrl_shifted_2"
        BEL "XLXI_94/dinb_ctrl_shifted_2" BEL
        "XLXI_94/Mshreg_dinb_ctrl_shifted_1" BEL "XLXI_94/dinb_ctrl_shifted_1"
        BEL "XLXI_94/Mshreg_dinb_ctrl_shifted_0" BEL
        "XLXI_94/dinb_ctrl_shifted_0" BEL "TestB7" PIN
        "XLXI_94/first_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>"
        PIN
        "XLXI_94/first_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>"
        PIN
        "XLXI_94/option_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>"
        PIN
        "XLXI_94/option_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>"
        PIN
        "XLXI_94/second_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>"
        PIN
        "XLXI_94/second_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>"
        PIN
        "XLXI_94/third_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<20>"
        PIN
        "XLXI_94/third_bram/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s3_noinit.ram/dpram.dp36x9.ram_pins<21>"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMA"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMB"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMC"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMD"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMA"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMB"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMC"
        BEL
        "XLXI_103/XLXI_419/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMD"
        BEL "XLXI_103/XLXI_419/lower_reg_banks_RAMA_D1" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMA" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMB_D1" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMB" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMC_D1" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMC" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMD_D1" BEL
        "XLXI_103/XLXI_419/lower_reg_banks_RAMD" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMA_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMA" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMB_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMB" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMC_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMC" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMD_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_high_RAMD" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMA_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMA" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMB_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMB" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMC_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMC" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMD_D1" BEL
        "XLXI_103/XLXI_419/stack_ram_low_RAMD" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMA_D1" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMA" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMB_D1" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMB" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMC_D1" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMC" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMD_D1" BEL
        "XLXI_103/XLXI_419/upper_reg_banks_RAMD";
TS_CLK80 = PERIOD TIMEGRP "CLK80" 12.5 ns HIGH 50%;
SCHEMATIC END;

