

NET "clk80" LOC = P51;

NET "RD_GPIO" LOC = P134;
NET "RD_USB" LOC = P33;
NET "TestA0" LOC = P6;
NET "TestA1" LOC = P5;
NET "TestA2" LOC = P7;
NET "TestA3" LOC = P9;
NET "TestA4" LOC = P10;
NET "TestA5" LOC = P11;
NET "TestA6" LOC = P12;
NET "TestA7" LOC = P14;
NET "TestB0" LOC = P15;
NET "TestB1" LOC = P16;
NET "TestB2" LOC = P17;
NET "TestB3" LOC = P22;
NET "TestB4" LOC = P23;
NET "TestB5" LOC = P26;
NET "TestB6" LOC = P27;
NET "TestB7" LOC = P29;
NET "WR_USB" LOC = P32;
NET "WR_GPIO" LOC = P137;
NET "adc1" LOC = P114;
NET "adc2" LOC = P102;
NET "adc3" LOC = P97;
NET "adc4" LOC = P88;
NET "cs1" LOC = P112;
NET "cs2" LOC = P101;
NET "cs3" LOC = P95;
NET "cs4" LOC = P87;
NET "saw1" LOC = P116;
NET "saw2" LOC = P105;
NET "saw3" LOC = P99;
NET "saw4" LOC = P93;

NET "CLK_ADC_0" LOC = P115;
NET "CLK_ADC_1" LOC = P104;
NET "CLK_ADC_2" LOC = P98;
NET "adc_reset_0" LOC = P117;
NET "adc_reset_1" LOC = P111;
NET "adc_reset_2" LOC = P100;
NET "adc_reset_3" LOC = P94;
NET "evt_1" LOC = P59;
NET "evt_2" LOC = P66;

NET "clk80" IOSTANDARD = LVCMOS33;
NET "CLK_ADC_0" IOSTANDARD = LVCMOS33;
NET "CLK_ADC_1" IOSTANDARD = LVCMOS33;
NET "CLK_ADC_2" IOSTANDARD = LVCMOS33;
NET "clk_adc_3" IOSTANDARD = LVCMOS33;
NET "RD_USB" IOSTANDARD = LVCMOS33;
NET "RD_GPIO" IOSTANDARD = LVCMOS33;
NET "TestA0" IOSTANDARD = LVCMOS33;
NET "TestA1" IOSTANDARD = LVCMOS33;
NET "TestA2" IOSTANDARD = LVCMOS33;
NET "TestA3" IOSTANDARD = LVCMOS33;
NET "TestA4" IOSTANDARD = LVCMOS33;
NET "TestA5" IOSTANDARD = LVCMOS33;
NET "TestA6" IOSTANDARD = LVCMOS33;
NET "TestA7" IOSTANDARD = LVCMOS33;
NET "TestB0" IOSTANDARD = LVCMOS33;
NET "TestB1" IOSTANDARD = LVCMOS33;
NET "TestB2" IOSTANDARD = LVCMOS33;
NET "TestB3" IOSTANDARD = LVCMOS33;
NET "TestB4" IOSTANDARD = LVCMOS33;
NET "TestB5" IOSTANDARD = LVCMOS33;
NET "TestB6" IOSTANDARD = LVCMOS33;
NET "TestB7" IOSTANDARD = LVCMOS33;
NET "WR_USB" IOSTANDARD = LVCMOS33;
NET "WR_GPIO" IOSTANDARD = LVCMOS33;
NET "adc1" IOSTANDARD = LVCMOS33;
NET "adc2" IOSTANDARD = LVCMOS33;
NET "adc3" IOSTANDARD = LVCMOS33;
NET "adc4" IOSTANDARD = LVCMOS33;
NET "adc_reset_0" IOSTANDARD = LVCMOS33;
NET "adc_reset_1" IOSTANDARD = LVCMOS33;
NET "adc_reset_2" IOSTANDARD = LVCMOS33;
NET "adc_reset_3" IOSTANDARD = LVCMOS33;
NET "cs1" IOSTANDARD = LVCMOS33;
NET "cs2" IOSTANDARD = LVCMOS33;
NET "cs3" IOSTANDARD = LVCMOS33;
NET "cs4" IOSTANDARD = LVCMOS33;
NET "evt_1" IOSTANDARD = LVCMOS33;
NET "evt_2" IOSTANDARD = LVCMOS33;
NET "evt_3" IOSTANDARD = LVCMOS33;
NET "evt_4" IOSTANDARD = LVCMOS33;
NET "saw1" IOSTANDARD = LVCMOS33;
NET "saw2" IOSTANDARD = LVCMOS33;
NET "saw3" IOSTANDARD = LVCMOS33;
NET "saw4" IOSTANDARD = LVCMOS33;
NET "CLK_ADC_0" DRIVE = 4;
NET "CLK_ADC_1" DRIVE = 4;
NET "CLK_ADC_2" DRIVE = 4;
NET "clk_adc_3" DRIVE = 4;
NET "RD_USB" DRIVE = 2;
NET "RD_GPIO" DRIVE = 2;
NET "TestA0" DRIVE = 6;
NET "TestA1" DRIVE = 6;
NET "TestA2" DRIVE = 6;
NET "TestA3" DRIVE = 6;
NET "TestA4" DRIVE = 6;
NET "TestA5" DRIVE = 6;
NET "TestA6" DRIVE = 6;
NET "TestA7" DRIVE = 6;
NET "TestB0" DRIVE = 6;
NET "TestB1" DRIVE = 6;
NET "TestB2" DRIVE = 6;
NET "TestB3" DRIVE = 6;
NET "TestB4" DRIVE = 6;
NET "TestB5" DRIVE = 6;
NET "TestB6" DRIVE = 6;
NET "TestB7" DRIVE = 6;
NET "WR_USB" DRIVE = 2;
NET "WR_GPIO" DRIVE = 2;
NET "adc_reset_0" DRIVE = 2;
NET "adc_reset_1" DRIVE = 2;
NET "adc_reset_2" DRIVE = 2;
NET "adc_reset_3" DRIVE = 2;
NET "cs1" DRIVE = 2;
NET "cs2" DRIVE = 2;
NET "cs3" DRIVE = 2;
NET "cs4" DRIVE = 2;
NET "saw1" DRIVE = 6;
NET "saw2" DRIVE = 6;
NET "saw3" DRIVE = 6;
NET "saw4" DRIVE = 6;
NET "CLK_ADC_2" SLEW = SLOW;
NET "saw1" SLEW = FAST;
NET "saw2" SLEW = FAST;
NET "saw3" SLEW = FAST;
NET "saw4" SLEW = FAST;
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2014/05/05
NET "CLK80" TNM_NET = "CLK80";
TIMESPEC TS_CLK80 = PERIOD "CLK80" 12.5 ns HIGH 50 %;
#pin2ucf - Sat Nov 29 19:31:26 2014
#The following constraints were newly added
NET "clk_adc_3" LOC = P92;

NET "MISO" LOC = P65;


NET "MISO" IOSTANDARD = LVCMOS33;


NET "MOSI" LOC = P64;


NET "MOSI" IOSTANDARD = LVCMOS33;


NET "SPI_CLK" LOC = P70;
NET "SPI_CS" LOC = P38;


NET "SPI_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_CS" IOSTANDARD = LVCMOS33;


NET "MOSI" DRIVE = 2;
NET "SPI_CLK" DRIVE = 4;
NET "SPI_CS" DRIVE = 2;
NET "SPI_CLK" SLEW = FAST;


NET "evt_3" LOC = P67;



NET "evt_4" LOC = P2;




NET "evt_std" IOSTANDARD = LVCMOS33;


NET "evt_std" LOC = P50;


NET "evt_1" PULLDOWN;
NET "evt_2" PULLDOWN;
NET "evt_std" PULLDOWN;

# PlanAhead Generated IO constraints 

NET "DATA_IO_GPIO[7]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[6]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[5]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[4]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[3]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[2]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[1]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[0]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_GPIO[7]" DRIVE = 4;
NET "DATA_IO_GPIO[6]" DRIVE = 4;
NET "DATA_IO_GPIO[5]" DRIVE = 4;
NET "DATA_IO_GPIO[4]" DRIVE = 4;
NET "DATA_IO_GPIO[3]" DRIVE = 4;
NET "DATA_IO_GPIO[2]" DRIVE = 4;
NET "DATA_IO_GPIO[1]" DRIVE = 4;
NET "DATA_IO_GPIO[0]" DRIVE = 4;
NET "DATA_IO_USB[7]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[6]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[5]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[4]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[3]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[2]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[1]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[0]" IOSTANDARD = LVCMOS33;
NET "DATA_IO_USB[7]" DRIVE = 4;
NET "DATA_IO_USB[6]" DRIVE = 4;
NET "DATA_IO_USB[5]" DRIVE = 4;
NET "DATA_IO_USB[4]" DRIVE = 4;
NET "DATA_IO_USB[3]" DRIVE = 4;
NET "DATA_IO_USB[2]" DRIVE = 4;
NET "DATA_IO_USB[1]" DRIVE = 4;
NET "DATA_IO_USB[0]" DRIVE = 4;

# PlanAhead Generated physical constraints 

NET "DATA_IO_USB[0]" LOC = P48;
NET "DATA_IO_USB[1]" LOC = P45;
NET "DATA_IO_USB[2]" LOC = P46;
NET "DATA_IO_USB[3]" LOC = P40;
NET "DATA_IO_USB[4]" LOC = P47;
NET "DATA_IO_USB[5]" LOC = P43;
NET "DATA_IO_USB[6]" LOC = P41;
NET "DATA_IO_USB[7]" LOC = P44;
NET "DATA_IO_GPIO[0]" LOC = P118;
NET "DATA_IO_GPIO[1]" LOC = P119;
NET "DATA_IO_GPIO[2]" LOC = P120;
NET "DATA_IO_GPIO[3]" LOC = P123;
NET "DATA_IO_GPIO[4]" LOC = P124;
NET "DATA_IO_GPIO[5]" LOC = P126;
NET "DATA_IO_GPIO[6]" LOC = P127;
NET "DATA_IO_GPIO[7]" LOC = P131;
NET "rxf_gpio" LOC = P132;
NET "rxf_usb" LOC = P34;
NET "txe_gpio" LOC = P133;
NET "txe_usb" LOC = P35;

# PlanAhead Generated IO constraints 

NET "txe_gpio" IOSTANDARD = LVCMOS33;
NET "txe_usb" IOSTANDARD = LVCMOS33;
NET "rxf_gpio" IOSTANDARD = LVCMOS33;
